nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease; /* transición suave para el cambio de color */
}

nav ul li a:hover {
    color: #ff5733; /* color destacado al pasar el ratón */
}