/* Estilos para la imagen principal */
#mainImage {
    max-width: 500px;
    margin-bottom: 20px;
  }
  
  /* Estilos para las miniaturas */
  .thumbnail {
    width: 300px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  /* Estilos para las miniaturas al pasar el mouse */
  .thumbnail:hover {
    opacity: 0.7;
  }
  